* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;

    --spacing: 20px;
}

html {
  width: 100%;
  height: 100%;
}

.rtl, .rtl p {
  direction: rtl;
  text-align: right;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  gap: var(--spacing);
  margin: 0 calc(var(--spacing) * 2);
  height: 100%;
  
  font: -apple-system-short-body;
  text-align: center;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity:0;}
  100% { opacity:1;}
}
.fadeIn {animation:fadeIn 1s ease 0.5s forwards;}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

body.platform-ios button {
  min-width: 50vw;
}

body.platform-mac button {
  min-width: 70vw;
}

p {
  overflow-wrap: break-word;
  text-align: left;
}

body.platform-ios p {
  width: 70vw;
}

body.platform-mac p {
  margin: 0 auto;
}

#app-icon {
  width: 128px;
  height: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(icon-default.png);
}

@media (prefers-color-scheme: dark) {
  #app-icon {
    background-image: url(icon-dark.png);
  }
}
