* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;

    --spacing: 20px;
}

html {
  width: 100%;
  height: 100%;
}

.rtl, .rtl p {
  direction: rtl;
  text-align: right;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  gap: var(--spacing);
  margin: 0 calc(var(--spacing) * 2);
  height: 100%;
  
  font: -apple-system-short-body;
  text-align: center;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity:0;}
  100% { opacity:1;}
}
.fadeIn {animation:fadeIn 1s ease 0.5s forwards;}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body:not(.platform-mac) {
  align-items: center;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
  -webkit-appearance: none;
  border-width: 0;
  background-color: rgb(59 134 246);
  color: white;
  min-width: 80vw;
  border-radius: 25px;
  padding: 10px 0;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

button.active,
button:active {
  background-color: rgb(209 209 213);
}

body.platform-mac button {
  min-width: 70vw;
  border-radius: 6px;
  padding: 5px 0;
  background-color: rgb(52 120 246);
}

body.platform-mac button:active,
body.platform-mac button:focus {
  background-color: rgb(47 108 222);
}

p {
  overflow-wrap: break-word;
  text-align: left;
}

body.platform-ios p {
  width: 80vw;
}

body.platform-mac p {
  margin: 0 auto;
}

#app-icon {
  width: 96px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(icon-default.png);
}

body:not(.platform-mac) #app-icon {
  width: 128px;
  height: 128px;
}

@media (prefers-color-scheme: dark) {
  #app-icon {
    background-image: url(icon-dark.png);
  }
}

@supports (-apple-visual-effect: -apple-system-glass-material) {
  html {
    background: transparent;
    -apple-visual-effect: -apple-system-glass-material;
  }
  
  body {
    background: transparent;
  }
}
